.container {
  width: 50%;
  margin-left: 25%;
}

h1, h2, p, .products, a, .steps, .testimonials, .testimonial {
  display: flex;
  justify-content: center;
}

.product, .step, .testimonial {
  margin: 10px 30px 10px 30px;
}

.testimonial-img {
  max-height: 350px;
  margin-right: 10px;
}
