.container {
  font-family: "Montserrat";
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 800px;
  background: url(/assets/images/hero.jpg);
}

h1, h2, h3, p, .products, .steps, .testimonials, .testimonial {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 64px;
  color: #fff;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

.product, .step, .testimonial {
  margin: 10px 30px 10px 30px;
}

.testimonial-img {
  max-height: 350px;
  margin-right: 10px;
}
